body {
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    
}
h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 5px;
}

p{
    font-size: 16px;
    font-weight:700;
    margin: 5px;
}
section{
    color:#fff;
    font-size: 16px;
}
img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
#sect-perfil{
    background-image: url(./img/fondo-examen.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.block-perfil{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding:64px 16px 32px;
    justify-content: space-between;
    overflow-x: hidden;
}
.contenido-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.foto-perfil img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.text-contet {
    text-align: center;
}
.btn-perfil {
    width: 100%;
    display: flex;
    gap:20px;
    flex-direction: column;
    margin-top: 25px;
}
.btn-perfil a{
    font-weight: 800;
    display: flex;
    background-color: red;
    border: 2px solid red;
    color: #fff;
    border-radius: 30px;
    padding:10px;
    min-height: 44px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}
.btn-perfil a:hover {
    background:transparent; 
    color: red;
}

.logos-rds{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.logos-rds a svg{
    width: 40px;
    height: 40px;
    
}
.logos-rds a{
    transition: 0.3s;
}
.logos-rds a:hover {
    scale: 1.1;
   
}

.bton-pie{
    width:100%;
    display: flex;
    justify-content: center;
}
.bton-apie {
    display: flex;
    gap:10px;
    margin-top: 32px;
    background-color: #ffffffbb;
    color: #000;
    border-radius: 30px;
    padding:10px;
    width: 200px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.bton-apie:hover{
    color: #000;
    background-color: #fff;
} 

button.copiar-enlace {
    width: 50px;
    height: 50px;
    border: none;
}